.altrack-card-header-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.3px;

    color: #000000;
}

.altrack-card-subtitle-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.altrack-truck-info-header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.3px;

    color: #000000;

    opacity: 0.4;
}

.altrack-truck-info {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.3px;

    color: #000000;
}